*{
    font-family: 'Orbitron', sans-serif;
    font-weight: 400; 
    font-size: 32px;
    line-height: 150%;             
}
header{
    background: linear-gradient(to top, #000000, #003062);
    display: flex;
    flex-direction: row;
}
.logo{
    padding-top:0px;
    margin-left:10px;
    width:10%;
    mix-blend-mode: screen;
}
h1{
  color:#05d9e8;
  font-size: 65px;
  margin: auto 20px;
  font-weight: bold;  
  font-family: 'Orbitron', sans-serif;

}
body{
    background: linear-gradient(#000000, #000000 20%, #003062 50%, #000000 80%, #000000);
}
main{
    display:flex;
}
.text-area{       
    margin-bottom: 50px;
    margin-left: 50%;
    border:2px solid #ff184c;              
    margin-top:90px;
    text-transform: lowercase;
    resize: none;
    background: #005078; 
}
::placeholder{ color:#05d9e8;
}
.text-area:focus{
    outline: none;
    color:#05d9e8;
}

.mensaje{
    box-sizing: border-box;
    background: #000000;
    background-image: url("/img/pexels-pixabay-414860.jpg");
    background-position: 50%;
    background-repeat: no-repeat;
    border:2px solid #ff184c;              
    border-radius: 24px;
    color: #ffffff;
    margin-left: 30%;
    margin-top: 90px;
    padding-left: 20px;
    position: fixed;
    resize: none;
    width: 400px;
    height: 684px;
}

.mensaje:focus{
    outline: none;
    color:#05d9e8;
}
.informacion{
    margin-left: 50%;
    color:#05d9e8;
    font-size: 18px;
}
.botones{
    margin-left: 50%;
    display: flex;
    margin-top: 18px;
}
.btn-encriptar{
    background: #005078; 
    border: 1px solid;
    border-radius: 24px;
    color: #ff184c;
    cursor: pointer;
    height: 67px;
    width: 328px;
}
.btn-encriptar:hover {
    background: #03004D;
  }
  .btn-desencriptar:hover{
    background: #03004D
  }
  .copiar:hover{
    background: #03004D;
  }
.btn-desencriptar{
    background: #005078; 
    border: 1px solid;
    border-radius: 24px;
    color: #ff184c;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
}
.copiar{
    background: #005078; 
    border: 1px solid;
    color: #ff184c;
    border-radius: 24px;
    cursor:pointer;
    height: 67px;
    margin-left: 31%;
    margin-top: 622px;
    position: fixed;
    width: 336px;
}
footer {
    background: linear-gradient(to bottom, #000000, #003062);
    color: #ffffff;
    width: 100%;
    height: 219px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }
  .copyright{
    margin:auto;
    font-weight: bold;
    font-size: 18px;
    background: none;
    margin-top: 35px;
    margin-bottom: 20px;
  }
  .contacto{
   background: #000000;
   cursor: pointer;
   margin-bottom: 20px;
   font-size: 30px;
   margin-top: auto;
  }
  /*colores de logos de los iconos*/
  .fa-brands{
    background: #000000;
    mix-blend-mode: screen;
  }
  .fa-github{
    color: #ffffff;
  } 
  .fa-facebook{
    color:#3b5998;
  }
  .fa-linkedin{
    color:#0077b5;
  }
  .fa-twitter{
    color:#55acee;
  }
  .fa-instagram{
    color:#3f729b;
  }
  .fa-whatsapp{
    color:#25d366;
  }

  #modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    z-index: 9999;
    color:#05d9e8;
    text-align: center;
  }
  
  .spam-message {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .show-spam {
    animation: fadeOut 2s forwards;
  }
  
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      display: none;
    }
  }

/* Estilos generales para tablet */
@media (max-width: 768px) and (max-height: 1164px)  {
  header {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  
  .logo {
    padding-top: 0px;
    margin-left: 10px;
    width: 10%;
    mix-blend-mode: screen;
  }
  
  h1 {
    font-size: 60px;
    margin: auto 20px;
  }
  
  main {
    display: flex;
    flex-direction: column;
  }
  
  .text-area {
    margin: 60px auto 0;
    resize: none;
    width: 550px;
    display: flex;
    align-items: center;
  }
  .mensaje {
    background-position: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    resize: none;
    width: 550px;
    height: 584px;
    margin: 60px auto 0 auto;
  }
  
  .informacion {
    margin: 0 auto;
    font-size: 18px;
    text-align: center;
  }
  
  
  .botones {
    display: flex;
    margin:0 auto;
    width: 550px;
  }
  
  footer {
    width: 100%;
    height: 219px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }
    
}
.copyright{
  margin: auto;
}